.dashboard{

display:flex;

min-height:100vh;

background:#0F172A;

}

/* Sidebar */

.sidebar{

width:260px;

background:#111827;

padding:30px;

display:flex;

flex-direction:column;

justify-content:flex-start;

border-right:1px solid #334155;

}

.logo{

font-size:28px;

font-weight:800;

margin-bottom:50px;

display:flex;

align-items:center;

gap:10px;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:15px;

}

.sidebar a{

padding:14px 18px;

border-radius:12px;

cursor:pointer;

color:#CBD5E1;

transition:.3s;

}

.sidebar a:hover,

.sidebar .active{

background:#7C3AED;

color:white;

}

/* Main */

.main-content{

flex:1;

padding:35px;

}

/* Top Bar */

.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.topbar h1{

font-size:32px;

}

.topbar p{

color:#94A3B8;

margin-top:8px;

}

.logout{

background:#EF4444;

color:white;

padding:12px 24px;

border:none;

border-radius:10px;

cursor:pointer;

}

/* Stats */

.stats{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-bottom:30px;

}

.stat-card{

background:#1E293B;

padding:25px;

border-radius:18px;

box-shadow:0 10px 30px rgba(0,0,0,.3);

}

.stat-card h3{

font-size:15px;

color:#94A3B8;

margin-bottom:15px;

}

.stat-card span{

font-size:34px;

font-weight:800;

color:#D7FF00;

}

/* Grid */

.content-grid{

display:grid;

grid-template-columns:2fr 1fr;

gap:25px;

}

.card{

background:#1E293B;

padding:25px;

border-radius:18px;

min-height:220px;

}

.large{

min-height:420px;

}

.full{

grid-column:1/3;

}
